@import "tailwindcss";

@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-textBtn: #ED5226;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.typewriter-text {
  overflow: hidden;
  border-right: 3px solid #3b82f6; /* Курсор */
  white-space: nowrap;
  width: 0;
  opacity: 0;
}

.typewriter-animation {
  animation:
          typing 3.5s steps(40, end) forwards,
          blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #3b82f6; }
}
